#WhoIAm{
	padding: 30px;
	color: #efad6c;
}

#wrapper{
	text-align: center;
	width: 30%;
	margin: auto;
	font-size: 2vh;
}

#wrapper h2{
	margin-top: 20px;
	font-size: 3vh;
}

#wrapper hr{
	border-color: #efad6c;
	margin-top: 50px;
}

@media screen and (max-width: 1000px)
{
	#wrapper{
		width: 50%;
	}
}

@media screen and (max-width: 750px)
{
	#wrapper{
		width: 75%;
	}
}

@media screen and (max-width: 330px)
{
	#wrapper{
		width: 85%;
	}
}