@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans SC', sans-serif;
}

body {
	background-color: #4c686e;
}

a{
	text-decoration: none;
}

header {
	background-color: #af3740;
	color: #fbfaf7;
	position: relative;
	padding: 25px;
}

header ul{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	right: 35px;
}

header li {
	display: inline-block;
	margin-left: 30px;		
}

header a{
	color: #fbfaf7;
	font-size: 20px;
}

header a:hover{
	text-decoration: underline;
	color: orange;
}

header h1{
	display: inline;
}

@media screen and (max-width: 800px)
{
	header ul{
		position: static;
		text-align: center;
		margin-top: 30px;
	}

	header h1{
		display: inline-block;
		margin-top: 10px;
	}
	header{
		text-align: center;
		padding: 0;
	}
}

@media screen and (max-width: 330px)
{
	header ul{
		margin-top: 50px;
	}

	header li{
		margin-left: 0;
		display: block;
		width: 100%;
	}
}